@model LoginModel

<h2>Enter the site</h2>

<a asp-action="Register" asp-controller="Account">Register</a>

<form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="form-group">
            <label asp-for="Email">Enter your Email</label>
            <input type="text" asp-for="Email" />
            <span asp-validation-for="Email" />
        </div>
        <div class="form-group">
            <label asp-for="Password">Enter your password</label>
            <input asp-for="Password" />
            <span asp-validation-for="Password" />
        </div>
        <div class="form-group">
            <input type="submit" value="Login" class="btn" />
        </div>
    </div>
</form>
@*<!DOCTYPE HTML>
<html>
<head>
    <title>Gretong a Ecommerce Category Flat Bootstarp Responsive Website Template | Register :: w3layouts</title>
    <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
    <script type='text/javascript' src="js/jquery-1.11.1.min.js"></script>
    <link href="css/style.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Gretong Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900' rel='stylesheet' type='text/css'>
    <link href="css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="js/megamenu.js"></script>
    <script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
    <script src="js/menu_jquery.js"></script>
</head>
<body style="position:absolute; top:50px; left: 90px">
    
    
    <div class="container">
        <div class="main">
            <div class="registration">
                <div class="registration_left">

                    <script>
			(function() {

			var inputs = document.createElement('input');

			var supports = {};

			supports.autofocus   = 'autofocus' in inputs;
			supports.required    = 'required' in inputs;
			supports.placeholder = 'placeholder' in inputs;

			if(!supports.autofocus) {

			}

			if(!supports.required) {

			}

			if(!supports.placeholder) {

			}

			var send = document.getElementById('register-submit');
			if(send) {
				send.onclick = function () {
					this.innerHTML = '...Sending';
				}
			}

		})();
                    </script>

                <div class="registration_left">
                    <h2>Log in</h2>
                    <div class="registration_form">
                        <form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
                            <div class="validation" asp-validation-summary="ModelOnly"></div>
                            <div>
                                <div class="form-group">
                                    <label asp-for="Email">Enter your Email</label>
                                    <input type="text" asp-for="Email" />
                                    <span asp-validation-for="Email" />
                                </div>
                                <div class="form-group">
                                    <label asp-for="Password">Enter your password</label>
                                    <input asp-for="Password" />
                                    <span asp-validation-for="Password" />
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Login" class="btn" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
        </div>

</body>
</html>*@