@model IndexModel
<!DOCTYPE HTML>
<html>
<head>
    <title>Home</title>
    <style>
        .grid_new {
            padding: 0;
        }

            .grid_new li {
                display: inherit;
            }

                .grid_new li:hover {
                }

                .grid_new li h5:hover {
                    color: #ff6978;
                }

            .grid_new li {
                width: 23%;
                float: left;
                margin: 0 1%
            }
    </style>
</head>
<body>

    <div class="header_bg">
        <div class="container">
            <div class="header">
                <div class="head-t">
                    <div class="header_right">
                        <div class="clearfix"> </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>

                <ul class="megamenu skyblue">
                    <li class="active grid"><a class="color1" asp-action="Index">Home</a></li>
                    <li class="active grid"><a class="color1" asp-action="Catalog">Catalog</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="arriv">
        <div class="container">
            <div class="arriv-top">
                <div class="col-md-6 arriv-left">
                    <img src="~/images/Телевизор.jpg" class="img-responsive" alt="">
                    <div class="arriv-info">
                        <h1 style="color:white">TV's</h1>
                        <p>Top TV's of our shop</p>
                        <div class="crt-btn">
                            <a asp-controller="Home" asp-action="Catalog">SHOP NOW</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 arriv-right">
                    <img src="~/images/Айфон.jpg" class="img-responsive" alt="">
                    <div class="arriv-info">
                        <h1 style="color:white">Phones</h1>
                        <p>Find your new gadget!</p>
                        <div class="crt-btn">
                            <a asp-controller="Home" asp-action="Catalog">SHOP NOW</a>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="arriv-bottm">
                <div class="col-md-8 arriv-left1">
                    <img src="~/images/Ноутбук.jpg" class="img-responsive" alt="">
                    <div class="arriv-info1">
                        <h1 style="color:white">Laptops</h1>
                        <p>Loof for the newest laptops</p>
                        <div class="crt-btn">
                            <a asp-controller="Home" asp-action="Catalog">SHOP NOW</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 arriv-right1">
                    <img src="~/images/Телевизор.jpg" class="img-responsive" alt="">
                    <div class="arriv-info2">
                        <a asp-controller="Home" asp-action="Catalog"><h1 style="color:white">Go to catalog<i class="ars"></i></h1></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="special">
        <h3>New Arrivals</h3>
        <div class="container">
            @*<h3>New Arrivals</h3>*@


            <ul class="grid_new" style="text-align:center; align-items:center; align-self:center">
                @for (int i = 0; i < 4 && i < Model.First4Products.Length; i++)
                {
                    var base64 = Convert.ToBase64String(Model.First4Products[i].Image);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                    <li style="width:23%">
                        <a asp-controller="Product" asp-action="Get/@Model.First4Products[i].Id"><img src="@imgSrc" style="max-width:100%; width:auto; height:200px" alt=""></a>
                        <div class="special-info grid_1 simpleCart_shelfItem">
                            <a asp-controller="Product" asp-action="Get/@Model.First4Products[i].Id"><h5>@Model.First4Products[i].Name</h5></a>
                            <div class="item_add"><span class="item_price"><h6>Price: @Model.First4Products[i].Price$</h6></span></div>
                            <div class="item_add"><span class="item_price"><a style="background-color:teal" asp-controller="Order" asp-action="Buy/@Model.First4Products[i].Id">add to cart</a></span></div>
                        </div>
                    </li>
                }


            </ul>
            <div class="clearfix"> </div>
        </div>
    </div>
</body>
</html>