<h2>Добро пожаловать, @TempData.Peek("username")!</h2>
@if (TempData.Peek("role") != null && TempData.Peek("role").ToString() == "admin")
{
    <a asp-controller="Order" asp-action="ChouseAdd"><pre>Добавить товар</pre></a>
    <a asp-controller="Order" asp-action="GetOrders"><pre>Посмотреть список заказов</pre></a>
}

