@model SetCityModel
<head>
    <style>
        .select_or{
            border-radius: 4px 5px;
            border-width: 3px;
            border: solid;
            background-color:#f0f0f0;
            margin-left:10px;
            margin-bottom:10px;
        }
        .button_new{
            border-radius: 4px 5px;
            border-width: 3px;
            border: solid;
            background-color:#f0f0f0;
            margin-left:5px;
            margin-bottom:10px;
        }
    </style>
</head>
<body>
    <h4>Chouse your city</h4>
    <form asp-controller="Home" asp-action="SetCity" method="post">
        <select class="select_or" asp-for="City">
            @foreach(var city in Model.Cities)
            {
                <option value="@city">@city</option>
            }
        </select>
        <button class="button_new">Submit</button>
    </form>
</body>

