@model AddModel
<pre style="font-size:18px">Available types: </pre>
<form asp-controller="Edit" asp-action="Add" method="post">
    <select asp-for="Name">
        @foreach (var name in Model.ProductNames)
        {
            <option value="@name" style="font-size:16px">@name</option>
        }
    </select>
    <input type="submit" name="Submit"/>
</form>