<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ADASTeam</title>
    <environment include="Development">
        <link href="~/css/bootstrap.css" rel='stylesheet' type='text/css' />

        <script type='text/javascript' src="~/js/jquery-1.11.1.min.js"></script>

        <link href="~/css/style.css" rel='stylesheet' type='text/css' />

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Gretong Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900' rel='stylesheet' type='text/css'>
        <!-- start menu -->
        <link href="~/css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
        <script type="text/javascript" src="~/js/megamenu.js"></script>
        <script>$(document).ready(function () { $(".megamenu").megamenu(); });</script>
        <script src="~/js/menu_jquery.js"></script>
        <script src="~/js/simpleCart.min.js"></script>
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900' rel='stylesheet' type='text/css'>
        <link href="css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
        <script type="text/javascript" src="js/megamenu.js"></script>
        <script>$(document).ready(function () { $(".megamenu").megamenu(); });</script>
        <script src="js/menu_jquery.js"></script>
        <script src="js/simpleCart.min.js"></script>
        <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
        <script type='text/javascript' src="js/jquery-1.11.1.min.js"></script>
        <link href="css/style.css" rel='stylesheet' type='text/css' />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link href="~/css/bootstrap.css" rel='stylesheet' type='text/css' />

        <script type='text/javascript' src="~/js/jquery-1.11.1.min.js"></script>

        <link href="~/css/style.css" rel='stylesheet' type='text/css' />

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Gretong Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900' rel='stylesheet' type='text/css'>
        <!-- start menu -->
        <link href="~/css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
        <script type="text/javascript" src="~/js/megamenu.js"></script>
        <script>$(document).ready(function () { $(".megamenu").megamenu(); });</script>
        <script src="~/js/menu_jquery.js"></script>
        <script src="~/js/simpleCart.min.js"></script>
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900' rel='stylesheet' type='text/css'>
        <link href="css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
        <script type="text/javascript" src="js/megamenu.js"></script>
        <script>$(document).ready(function () { $(".megamenu").megamenu(); });</script>
        <script src="js/menu_jquery.js"></script>
        <script src="js/simpleCart.min.js"></script>
        <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
        <script type='text/javascript' src="js/jquery-1.11.1.min.js"></script>
        <link href="css/style.css" rel='stylesheet' type='text/css' />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color:#F2F2F2">
        <div class="container" style="background-color: #F2F2F2">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <li class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="element" style="position:absolute; left:0px; top:0px; background-color:#E6E6E6;width:auto">
                        <a asp-controller="Home" asp-action="Index" style="position:absolute; left:20px; top:0px;"><img src="~/images/logo_new.png" style="position:absolute; left:20px; top:0px; width:130px"></a>
                    </li>

                    <li class="element" style="position:absolute;right: calc(11.7% + 210px); top:20%; background-color:#E6E6E6">
                        <div class="log">
                            <div class="login">
                                <div id="loginContainer">
                                    <a class="color1" asp-area="" asp-controller="Order" asp-action="Basket" id="loginButton"><span>Checkout</span></a>
                                </div>
                            </div>
                        </div>
                    </li>

                    @if (TempData.ContainsKey("username"))
                    {
                        <li class="element" style="position:absolute;left:200px; top:20%; background-color:#E6E6E6;width:auto">
                            <div class="log" style="width:auto">
                                <div class="login" style="width:auto">
                                    <div id="loginContainer">
                                        <a class="color1" asp-area="" asp-controller="Home" asp-action="PersonalArea" id="loginButton"><span>Personal Area</span></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="element" style="position:absolute;left:340px; top:20%; background-color:#E6E6E6;width:auto">
                            <div class="log" style="width:auto">
                                <div class="login" style="width:auto">
                                    <div id="loginContainer">
                                        <a class="color1" asp-area="" asp-controller="Account" asp-action="Logout" id="loginButton"><span>Logout</span></a>
                                    </div>
                                </div>
                            </div>
                        </li>

                    }
                    else
                    {
                        <li class="element" style="position:absolute;left:200px; top:20%; background-color:#E6E6E6">
                            <div class="log">
                                <div class="login">
                                    <div id="loginContainer">
                                        <a class="color1" asp-area="" asp-controller="Account" asp-action="Login" id="loginButton"><span>Login</span></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="element" style="position:absolute;left:280px; top:20%; background-color:#E6E6E6">
                            <div class="log">
                                <div class="login">
                                    <div id="loginContainer">
                                        <a class="color1" asp-area="" asp-controller="Account" asp-action="Register" id="loginButton"><span>Register</span></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }

                    <li class="search" style="position:absolute; right:11.7%; top:10%">
                        <form asp-controller="Product" asp-action="Search" method="get">
                            <input type="text" value="" name="request" placeholder="search...">
                            <input type="submit" value="">
                        </form>
                    </li>
                </ul>
            </li>
        </div>
        </div>
    </nav>

    @*<partial name="_CookieConsentPartial" />*@

    <div class="container body-content">
        @RenderBody()
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>