@model ErrorViewModel

<h3>Error!</h3>
@if (Model.RequestInfo != null && Model.RequestInfo.Length > 0)
{
    <pre>@Model.RequestInfo</pre>
}
@if (Model.ActionName!= null && Model.ActionName.Length > 0)
{
    <pre><a asp-action="@Model.ActionName">Return</a></pre>
}

