@model OrderModel
<form asp-controller="Order" asp-action="Order" method="post">
    <select asp-for="Place">
        @foreach (var place in Model.Places)
        {
            <option value="@place">@place</option>
        }
    </select>
    <input type="submit" value="Order"/>
</form>
