@model OrderModel
<form asp-controller="Order" asp-action="Order" method="post">
    <select asp-for="Place">
        @for (int i = 0; i < Model.Places.Count; i++)
        {
            if (i == Model.CityIndex)
            {
                <option value="@Model.Places[i]" selected>@Model.Places[i]</option>
            }
            else
            {
                <option value="@Model.Places[i]">@Model.Places[i]</option>
            }
        }
    </select>
    <input type="submit" value="Order"/>
</form>
