@model OrderModel
    <form asp-controller="Order" asp-action="Order" method="post">
        <pre>Country  <input asp-for="Address.Country" type="text"/></pre>
        <pre>City  <input asp-for="Address.Sity" type="text"/></pre>
        <pre>Street  <input asp-for="Address.Street" type="text"/></pre>
        <pre>Home number  <input asp-for="Address.HouseNumber" type="text"/></pre>
        <pre>Apartment number  <input asp-for="Address.ApartmentNumber" type="text" /></pre>
        <pre>Postcode  <input asp-for="Address.PostOfficeIndex" type="number"/></pre>
        <input type="submit" name="Order"/>
    </form>
